@use 'sass:math';

// Conversion util for easier definition of font sizes by pixel size
@function pxToRem($pxValue) {
  // Assumes font-size for body element is a constant 16px
  @return math.div($pxValue, 16) * 1rem;
}

@layer base {
  html {
    @apply font-primary;

    /* Make type rendering look crisper */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Disable auto-enlargement of small text in Safari */
    text-size-adjust: 100%;

    /* Enable kerning and optional ligatures */
    // text-rendering: optimizelegibility;
  }

  /* stylelint-disable at-rule-empty-line-before, declaration-empty-line-before */
  .text-h1-alt {
    @apply font-display font-bold;
    font-size: pxToRem(45);
    line-height: 1;

    @screen sm {
      font-size: pxToRem(54.5);
    }
    @screen md {
      font-size: pxToRem(65.5);
    }
    @screen lg {
      font-size: pxToRem(72);
    }
    @screen xl {
      font-size: pxToRem(100);
    }
  }

  h1,
  .text-h1 {
    @apply font-display font-bold;
    font-size: pxToRem(42);
    line-height: 1.15;

    @screen sm {
      font-size: pxToRem(46);
    }
    @screen md {
      font-size: pxToRem(50);
    }
    @screen lg {
      font-size: pxToRem(54);
    }
    @screen xl {
      font-size: pxToRem(58);
    }
  }

  h2,
  .text-h2 {
    @apply font-display font-bold;
    font-size: pxToRem(36);
    line-height: 1.25;

    @screen sm {
      font-size: pxToRem(38);
    }
    @screen md {
      font-size: pxToRem(40);
    }
    @screen lg {
      font-size: pxToRem(42);
    }
    @screen xl {
      font-size: pxToRem(44);
    }
  }

  h3,
  .text-h3 {
    @apply font-display font-bold;
    font-size: pxToRem(27);
    line-height: 1.25;

    @screen sm {
      font-size: pxToRem(28.25);
    }
    @screen md {
      font-size: pxToRem(30);
    }
    @screen lg {
      font-size: pxToRem(31.25);
    }
    @screen xl {
      font-size: pxToRem(33);
    }
  }

  h4,
  .text-h4 {
    @apply font-display font-bold;
    font-size: pxToRem(22);
    line-height: 1.25;

    @screen sm {
      font-size: pxToRem(23.25);
    }
    @screen md {
      font-size: pxToRem(24.75);
    }
    @screen lg {
      font-size: pxToRem(25.75);
    }
    @screen xl {
      font-size: pxToRem(27);
    }
  }

  h5,
  .text-h5 {
    @apply font-display font-bold;
    font-size: pxToRem(20);
    line-height: 1.25;

    @screen sm {
      font-size: pxToRem(21);
    }
    @screen md {
      font-size: pxToRem(22.25);
    }
    @screen lg {
      font-size: pxToRem(23.25);
    }
    @screen xl {
      font-size: pxToRem(24.25);
    }
  }

  h6,
  .text-h6 {
    @apply font-display font-bold edu:font-bold;
    font-size: pxToRem(18);
    line-height: 1.6667;

    @screen sm {
      font-size: pxToRem(19);
    }
    @screen md {
      font-size: pxToRem(20);
    }
    @screen lg {
      font-size: pxToRem(21);
    }
    @screen xl {
      font-size: pxToRem(22);
    }
  }

  // prevents b and strong tags from overriding medium weight headings
  h1,
  .text-h1,
  h2,
  .text-h2,
  h3,
  .text-h3,
  h4,
  .text-h4,
  h5,
  .text-h5 {
    b,
    strong {
      font-weight: inherit;
    }
  }

  // moved to a tailwind plugin in tailwind.config.js which allows us to @apply text-subtitle
  // .text-subtitle {
  //   @apply font-secondary uppercase text-base leading-tight;
  // }

  // moved to a tailwind plugin in tailwind.config.js which allows us to @apply text-subtitle
  // .text-subtitle-sm {
  //   @apply font-secondary uppercase text-sm leading-tight;
  // }

  .text-body-lg {
    font-size: pxToRem(18); // Based on Tailwind's text-lg
    line-height: 1.6667;
    @apply tracking-[-.2px];

    @screen sm {
      font-size: pxToRem(19);
    }
    @screen md {
      font-size: pxToRem(20);
    }
    @screen lg {
      font-size: pxToRem(21);
    }
    @screen xl {
      font-size: pxToRem(22);
    }
  }

  .text-body-md {
    @apply font-primary;
    font-size: pxToRem(16); // Based on Tailwind's text-base
    line-height: 1.6667;

    @screen lg {
      font-size: pxToRem(18);
    }
  }

  .text-body-sm {
    @apply font-primary;
    font-size: pxToRem(14); // Based on Tailwind's text-sm
    line-height: 1.6667;

    @screen lg {
      font-size: pxToRem(16);
    }
  }

  .text-body-xs {
    @apply font-primary;
    font-size: pxToRem(14); // Based on Tailwind's text-sm, but doesn't scale up
    line-height: 1.6667;
  }

  // for stats areas (i.e. missions and robotics)
  .text-stats-xl {
    @apply font-display font-extrabold leading-none;

    font-size: 2.125rem; // 34px

    @screen lg {
      font-size: 2.4rem;
    }

    @screen xl {
      font-size: 2.75rem; // 44px
    }
  }

  .text-stats-lg {
    @apply font-display font-extrabold leading-none;

    font-size: 2.125rem; // 34px

    @screen lg {
      font-size: 2.125rem; // 34px
    }

    @screen xl {
      font-size: 2.25rem; // 36px
    }
  }

  .math-text {
    @apply font-serif;
    @apply italic;
  }

  // text readability class
  // use this in areas where text is overlaying an image
  // managed separately for the navigation since we can't @apply these classes there

  @layer utilities {
    .text-contrast {
      text-shadow: 1px 1px 2px rgba(0 0 0 / 70%);
    }

    .text-contrast-none {
      text-shadow: none;
    }
  }

  mark {
    @apply bg-warning-light p-0.5 border border-warning rounded;
  }
}
