.BaseButton {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  // small adjustments to background size and position to prevent overlap with border
  background-size: 100% 215%; // 100% 200%
  background-position: 0 -1px; // top
  &:focus {
    @apply outline-none ring-2;
  }
  @apply font-secondary font-semibold uppercase tracking-wider leading-normal cursor-pointer transition-all duration-200 ease-linear bg-gradient-to-b from-transparent-w50;

  > .label {
    @apply flex items-center justify-center;
  }

  @include hover {
    background-position: bottom;
  }

  &.-primary {
    @apply px-12 text-white bg-action-color to-action-color-dark-w50;

    & > .label {
      @apply border-2 border-transparent;
    }
  }

  &.-secondary {
    @apply px-12 bg-transparent text-action-color border-2 border-action-color to-action-color-dark-w50;

    @include hover {
      @apply text-white border-action-color-dark;
    }
  }

  &.-dark {
    @apply px-12 bg-transparent text-white border border-white/40 to-white-w50;

    @include hover {
      @apply text-dark-blue border-white bg-white;
    }
  }

  &.-social {
    @apply px-12 bg-transparent border border-gray-mid text-gray-mid to-gray-dark-w50;

    @include hover {
      @apply text-white bg-gray-dark;
    }

    &.-facebook {
      @apply to-facebook-w50;

      @include hover {
        @apply bg-facebook border-facebook;
      }
    }

    &.-twitter {
      @apply to-twitter-w50;

      @include hover {
        @apply bg-twitter border-twitter;
      }
    }

    &.-instagram {
      @apply to-instagram-w50;

      @include hover {
        @apply bg-instagram border-instagram;
      }
    }

    &.-youtube {
      @apply to-youtube-w50;

      @include hover {
        @apply bg-youtube border-youtube;
      }
    }

    &.-reddit {
      @apply to-reddit-w50;

      @include hover {
        @apply bg-reddit border-reddit;
      }
    }
  }

  &.-compact {
    @apply px-5;
  }

  &.-icon-only {
    @apply p-0;

    > .label {
      @apply flex items-center justify-center h-full w-full;
    }
  }

  &:disabled {
    @apply bg-none bg-gray-mid border-gray-mid cursor-default #{!important};

    > .label {
      @apply text-white;
    }
  }

  .ThemeVariantLight & {
    &.-primary {
      @apply text-white bg-action-color to-action-color-dark-w50;
    }

    &.-secondary {
      @apply text-action-color bg-transparent border-action-color to-action-color-dark-w50;

      @include hover {
        // including a bg color resolves pixelation inconsistencies between browsers
        @apply text-white border-action-color-dark bg-action-color-dark;
      }
    }
  }

  .ThemeVariantDark & {
    &.-primary {
      @apply text-white bg-action-color-light to-action-color-w50;
    }

    &.-secondary {
      @apply text-action-color-light bg-transparent border-action-color-light to-action-color-w50;

      @include hover {
        // including a bg color resolves pixelation inconsistencies between browsers
        @apply text-white border-action-color bg-action-color;
      }
    }
  }
}
