.BaseButton {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  // small adjustments to background size and position to prevent overlap with border
  background-size: 100% 215%; // 100% 200%
  background-position: 0 -1px; // top
  &:focus {
    @apply outline-none ring-2 z-10;
  }
  @apply font-secondary font-semibold uppercase leading-normal cursor-pointer transition-all duration-200 ease-linear bg-gradient-to-b from-transparent-w50;

  > .label {
    @apply flex h-full items-center justify-center;
  }

  &:hover {
    background-position: bottom;
  }

  &.-primary {
    @apply px-12 text-white bg-action to-action-dark-w50;

    & > .label {
      @apply border-2 border-transparent;
    }
  }

  &.-secondary {
    @apply px-12 bg-transparent text-action border-2 border-action to-action-dark-w50;

    &:hover {
      @apply text-white border-action-dark;
    }
  }

  &.-dark {
    @apply px-12 bg-transparent text-white border border-white/40 to-white-w50;

    &:hover {
      @apply text-jpl-blue-darker edu:text-primary-dark border-white bg-white;
    }
  }

  // &.-social-edu {

  // }

  &.-social {
    @apply px-12 bg-transparent border border-gray-mid text-gray-mid to-gray-dark-w50;

    &:hover {
      @apply text-white bg-gray-dark;
    }

    &.-facebook {
      @apply to-facebook-w50;

      &:hover {
        @apply bg-facebook border-facebook;
      }
    }

    &.-twitter {
      @apply to-twitter-w50;

      &:hover {
        @apply bg-twitter border-twitter;
      }
    }

    &.-instagram {
      @apply to-instagram-w50;

      &:hover {
        @apply bg-instagram border-instagram;
      }
    }

    &.-youtube {
      @apply to-youtube-w50;

      &:hover {
        @apply bg-youtube border-youtube;
      }
    }

    &.-reddit {
      @apply to-reddit-w50;

      &:hover {
        @apply bg-reddit border-reddit;
      }
    }
    .ThemeEdu & {
      @apply border-action text-action to-action-w50 #{!important};
      &:hover {
        @apply text-white bg-action #{!important};
      }
    }
    .share-buttons-list & {
      @apply border-transparent bg-gray-light #{!important};
    }
  }

  &.-compact {
    @apply px-5;
  }

  &.-icon-only {
    @apply p-0;

    > .label {
      @apply flex items-center justify-center h-full w-full;
    }
  }

  &:disabled {
    @apply bg-none bg-gray-mid border-gray-mid cursor-default #{!important};

    > .label {
      @apply text-white;
    }
  }
}
