.BlockCircleImageCard {
  --image-size: 90px;

  display: flex;
  align-items: center;
  gap: calc(var(--image-size) / 2);

  @screen lg {
    --image-size: 130px;
  }

  .BaseImagePlaceholder {
    width: var(--image-size);
    height: var(--image-size);
    margin: 0 calc(-1 * var(--image-size) / 2);
  }

  &.imageOnRight {
    flex-direction: row-reverse;
  }
}

@media (forced-colors: active) {
  .BlockCircleImageCard {
    border: 1px solid;
  }
}

.BlockCircleImageCard {
  @apply md:z-40;
}

.BlockCircleImageCard .IconExternal {
  @apply w-6 h-6 text-gray-mid-dark;
}

.BlockCircleImageCard .IconPlay {
  @apply w-7 h-7 bg-jpl-red text-white;
}