.BlockQuote {
  @apply text-center;

  > div > div > .attribution-image {
    width: 60px;
    min-width: 60px;
    height: auto;
    @apply block rounded-full my-2;

    @screen lg {
      width: 80px;
      min-width: 80px;
      height: auto;
      @apply my-5 mr-3;
    }
  }

  > hr {
    max-width: 100px;
    @apply border-t mx-auto border-primary-light;

    @screen lg {
      max-width: 120px;
    }
  }

  > .quote {
    line-height: 1.4; // custom
    @apply font-display italic text-xl font-medium py-4 text-primary;

    @screen lg {
      font-size: 1.875rem; // custom  // 30px
      @apply font-normal;
    }
  }

  > div > div > .attribution-text {
    @apply flex justify-center items-start font-primary leading-normal text-sm text-left mt-1 px-4 pb-4 text-gray-mid-dark;

    &::before {
      content: '—';
      @apply mr-2;
    }

    @screen lg {
      @apply items-center text-base text-center;
    }
  }
}

.ThemeVariantLight {
  .BlockQuote {
    > hr {
      @apply border-primary;
    }

    > .quote {
      @apply text-primary;
    }

    > div > div > .attribution-text {
      @apply text-gray-mid-dark;
    }
  }
}

.ThemeVariantDark {
  .BlockQuote {
    > .quote {
      @apply text-white;
    }

    > div > div > .attribution-text {
      @apply text-gray-mid;
    }
  }
}
