.BlockNewsletterSignup {
  fieldset > div {
    column-count: 2;
  }
  .email-container input {
    @apply mt-0 -mr-1;
  }
  .BaseRadioGroup label {
    @apply text-base text-left edu:text-white;
  }
}
