.CsrTestLimitsTable {
  .ag-root {
    @apply min-h-12 overflow-x-auto;
    .ag-body {
      min-width: 40rem;
    }
    .ag-header,
    .ag-header-viewport {
      @apply overflow-visible;
    }
  }
  .ag-root-wrapper {
    @apply overflow-visible;
  }
  .ag-cell-wrap-text {
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
