.MetadataEvent {
  @apply lg:flex lg:flex-grow font-secondary;
  .MetadataEventItem {
    @apply flex;
    @apply items-start;
    @apply mr-4 md:mr-4 xl:mr-8;
    @apply mb-5 lg:mb-7;
    @apply lg:min-w-[10rem];

    span {
      @apply text-gray-dark;
    }

    svg {
      min-width: 1.25rem;
      @apply top-0.5;
    }
    .MetadataEventIcon {
      @apply text-primary relative mr-3 lg:mr-2 xl:mr-3;
    }
  }

  &.-compact {
    @apply flex flex-grow flex-wrap;
    .MetadataEventItem {
      @apply whitespace-nowrap;
      @apply max-w-none min-w-[4em];
      @apply mr-6 mb-0;
    }
    &.-allow-break {
      @apply block lg:flex;
    }
  }
}
