.MissionDetailStats {
  .adaptive-stats-grid div:nth-child(3) {
    @apply col-span-3;
  }

  .theme {
    @apply bg-gray-light text-gray-dark;
  }

  .ThemeVariantDark & .theme {
    @apply bg-jpl-blue-darker bg-opacity-75 text-white;
  }

  .label {
    @apply font-bold mb-3 text-jpl-red-dark;
  }

  .ThemeVariantDark & .label {
    @apply text-jpl-blue-light;
  }

  .legend {
    @apply text-gray-mid-dark;
  }

  .BaseTimer {
    .unit {
      @apply relative -top-1;
    }
  }
  .ThemeVariantDark & .legend {
    @apply text-white;
  }
}
