.PageCuratedGallery {
  // sharebuttons fix TODO: make better
  @screen lg {
    .ShareButtons {
      transform: scale(0.75);
      top: -1.8rem;
      z-index: 999;
    }
  }
  .CuratedGallery-thumbnails,
  .CuratedGallery-carousel {
    @apply block;

    &.hidden {
      @apply h-0 overflow-hidden;
    }

    &.shown {
      @apply relative;
    }
  }

  .BaseGalleryImage {
    .MixinFancybox {
      img {
        @apply can-hover:hover:opacity-95 transition-opacity duration-75;
      }
    }

    @apply text-gray-mid-dark col-span-12 mx-5;
    @screen md {
      @apply col-span-6 mx-3;
    }
    @screen lg {
      @apply col-span-6 mx-0;

      .BaseImagePlaceholder {
        @apply transition-shadow duration-200 rounded-sm;
      }
      &:hover {
        .BaseImagePlaceholder {
          @apply duration-300 shadow-md;
        }

        .the-caption-text {
          @apply text-jpl-red-light transition-colors duration-200;
        }
      }
    }
    @screen lg {
      @apply col-span-4 mx-1.5;
    }
    @screen xl {
      @apply mx-0;
    }

    .the-caption-text {
      @apply cursor-pointer text-gray-mid-dark text-lg my-3 leading-tight inline-block h-auto mb-14 transition-colors duration-150;
      &:hover {
        @apply text-jpl-red-dark transition-colors duration-200;
      }

      .ThemeVariantDark & {
        @apply text-gray-light-mid;
        &:hover {
          @apply text-jpl-red-dark;
        }
      }
    }

    .ThemeVariantLight & {
      @apply text-gray-mid;
    }

    .ThemeVariantDark & {
      @apply text-gray-mid;
    }
  }

  .StreamField {
    @apply pb-4;
    @screen lg {
      @apply pb-12;
    }
  }
}