.PageAudioDetail {
  .transcript-overlay {
    // necessary for safari to interpolate the gradient correctly
    // see https://stackoverflow.com/a/56548711
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    @apply absolute bottom-0 inset-x-0 h-24 pointer-events-none;
  }

  .audio-aside {
    // .BaseButton {
    //   max-width: 200px;
    //   @screen md {
    //     max-width: none;
    //   }
    // }
    .BlockText {
      @apply text-lg;
    }
  }

  .audio-transcript {
    p {
      @apply mb-4;
    }
  }

  .SubscribeModal {
    ul {
      @apply mb-5;
      @screen lg {
        @apply mb-8;
      }

      &:last-child {
        @apply mb-0;
      }

      li {
        @apply mb-2 pl-8 relative;
        @screen lg {
          @apply pl-12;
        }

        &:last-child {
          @apply mb-0;
        }

        &::before {
          content: '';
          width: 24px;
          height: 2px;
          @apply bg-jpl-red block absolute top-0 left-0 mt-3;
          @screen sm {
            @apply mt-3;
          }
          @screen lg {
            width: 30px;
          }

          .ThemeVariantDark & {
            @apply bg-jpl-red-light;
          }
        }
      }
    }
  }
}