# npm
node_modules/
npm-debug.log

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Temp directories
.temp
.tmp
.cache

# Linter caches
.eslintcache
.stylelintcache

# Logs
*.log*

# PyCharm
.idea

# Intellij
out/
*.iml
.idea

# mpeltonen/sbt-idea plugin
.idea_modules/

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History extension for VSCode
.history

# Testing
reports
coverage
*.lcov
.nyc_output

# Storybook
storybook_compiled

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Tailwind
.www-frontend_temp/

# copied assets when preparing builds
apps/**/.storybook/static/dist
packages/**/src/assets/fonts

# dist
dist
!packages/**/dist

packages/nuxt/src/runtime/public/explorer-1/
!public/explorer-1/**/.gitkeep
!packages/common/src/public/explorer-1