# mac OS
.DS_Store

# npm
node_modules/
npm-debug.log

# parcel.js
.parcel-cache
.parcel

# Storybook
storybook_compiled

# PyCharm
.idea

# vscode
.vscode

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Tailwind
.www-frontend_temp/

# Linter caches
.eslintcache
.stylelintcache

# logs
.log

# copied assets when preparing builds
apps/**/.storybook/static/dist
packages/**/src/assets/fonts
