.BlockCircleImageCard {
  $circlesize: 90px;

  @screen lg {
    $circlesize: 130px;
  }

  img.BaseImage {
    width: $circlesize;
    height: $circlesize;
  }

  .BaseImagePlaceholder {
    display: flex;
  }

  &.imageOnLeft {
    > div:first-of-type {
      left: calc(-1 * $circlesize / 2);
    }

    .content {
      padding-left: calc($circlesize / 2 + 2rem);
    }
  }

  &.imageOnRight {
    > div:first-of-type {
      right: calc(-1 * $circlesize / 2);
    }

    .content {
      padding-right: calc($circlesize / 2 + 2rem);
    }
  }
}
