.BlockImageCarousel {
  .BaseLightboxOpenButton {
    @apply opacity-0 transition-opacity duration-100;
  }

  &:hover {
    .BaseLightboxOpenButton {
      @apply opacity-100 transition-opacity duration-75;
    }
  }

  .swiper {
    .swiper-prev {
      @apply mr-px;
    }

    .swiper-prev,
    .swiper-next {
      &.swiper-button-disabled {
        @apply opacity-75 cursor-default bg-none;
      }
    }
  }

  .swiper-nav {
    padding-top: 56.25%;
  }

  .swiper-dots {
    padding-top: 56.25%;
    @apply pointer-events-none;

    .swiper-dot {
      @apply inline-block px-1 py-3 cursor-pointer pointer-events-auto;

      &:focus {
        @apply outline-none ring-1;
      }

      > span {
        @apply inline-block w-3 h-3 rounded-full bg-gray-light-mid;
      }

      &.swiper-dot-active {
        > span {
          @apply bg-theme-color;
        }
      }
    }
  }
}
