.HeroFocalPoint {
  .content-wrapper {
    @screen lg {
      min-height: 548px; // maintains 1440x770 aspect ratio
    }

    @screen xl {
      min-height: 684px; // maintains 1440x770 aspect ratio
    }

    @screen 2xl {
      min-height: 770px; // 1440x770
    }

    @screen 3xl {
      min-height: 963px; // maintains 1440x770 aspect ratio
    }
  }
}
