.HeroMedia {
  > div > .vh-crop {
    @screen sm {
      max-height: 65vh;
      min-height: 255px;
    }
    @screen md {
      min-height: 300px;
    }
    @screen lg {
      min-height: 375px;
    }
    @screen xl {
      min-height: 430px;
    }
    > .hero {
      height: 30vh;
      min-height: 200px;
      @apply overflow-hidden w-full flex items-center;
      @screen sm {
        @apply h-auto min-h-none;
      }
      @screen lg {
        max-height: 625px; // aspect ratio changes when the image is this large
      }
    }
  }
}
