.HeroFeature,
.HeroFeature.swiper-slide {
  // somewhat arbitrary heights
  // portrait on small screens
  //height: 500px;
  min-height: 400px;
  // landscape on larger screens
  @screen lg {
    height: 600px;
    min-height: 600px;
  }
}
