.BaseTimer .unit{--text-opacity: .84}.BaseTimer.-inline .text-stats-separator{display:none;margin-left:.375rem;margin-right:.375rem}.BaseTimer.-inline .text-seconds{width:2ch}.BaseTimer.-inline>span span{display:inline-block}
