.BlockImageGallery .BaseLightboxOpenButton{display:none}@media(min-width:1024px){.BlockImageGallery .BaseImageCaption{padding-left:2rem}}@media(min-width:1800px){.BlockImageGallery .BaseImageCaption{padding-left:0}}
