.ThemeVariantDark .DynamicTokensTable{--tw-text-opacity: 1 !important;color:rgb(255 255 255 / var(--tw-text-opacity, 1))!important}.DynamicTokensTable td,.DynamicTokensTable th{padding-left:.5rem;padding-right:.5rem}
