.MetaPanelItems {
  .MetaPanelItem {
    @apply flex w-full items-start mb-4 md:mb-0 w-auto;
    &:last-of-type {
      @apply mb-0;
    }
    .MetaPanelItem-icon {
      @apply mr-1 w-10 md:w-12;
    }
    .MetaPanelItem-heading {
      @apply text-subtitle md:mb-[.2em] whitespace-nowrap;
    }
    .MetaPanelItem-content {
      @apply font-display font-bold lg:text-xl;
    }
  }
}
