.ThumbnailCarousel {
  &.-cards {
    .swiper {
      .swiper-navigation {
        padding-top: 29.5%;

        .swiper-prev,
        .swiper-next {
          @apply transform -translate-y-1/2;
        }
      }
    }
  }

  .nuxt-link-exact-active {
    > p {
      @apply font-bold;

      span {
        padding-bottom: 0.2rem;
        @apply border-b-2 border-jpl-red;
      }
    }
  }
}
