/* EDU theme text styles
 * kept in a separate scss file for easier use in components
 * ex: import this file in a vue component to be able to @apply these classes
 */

/* Deprecation warning:
 * .text-theme-red and .text-theme-red-hover are deprecated and will be removed in the next major release.
 * Use .text-theme-color and .text-theme-color-hover instead.
 */

@layer utilities {
  @responsive {
    .ThemeEDU {
      .text-theme-color,
      .text-theme-red,
      .hover\:text-theme-color:hover,
      .hover\:text-theme-red:hover {
        @apply text-edu-purple-dark;
      }

      .text-theme-color-hover,
      .text-theme-red-hover,
      .hover\:text-theme-color-hover:hover,
      .hover\:text-theme-red-hover:hover {
        @apply text-edu-purple;
      }

      .ThemeLight {
        .text-theme-color,
        .text-theme-red,
        .hover\:text-theme-color:hover,
        .hover\:text-theme-red:hover {
          @apply text-edu-purple-dark;
        }

        .text-theme-color-hover,
        .text-theme-red-hover,
        .hover\:text-theme-color-hover:hover,
        .hover\:text-theme-red-hover:hover {
          @apply text-edu-purple;
        }
      }

      .ThemeDark {
        .text-theme-color,
        .text-theme-red,
        .hover\:text-theme-color:hover,
        .hover\:text-theme-red:hover {
          @apply text-edu-purple;
        }

        .text-theme-color-hover,
        .text-theme-red-hover,
        .hover\:text-theme-color-hover:hover,
        .hover\:text-theme-red-hover:hover {
          @apply text-edu-purple-dark;
        }
      }
    }
  }
}
