@import 'internal_typography_theme_colors';

@layer utilities {
  .ThemeInternal {
    .BaseButton {
      &.-primary {
        @apply bg-jpl-sky-blue-dark to-jpl-sky-blue-w50;
      }

      &.-secondary {
        @apply text-jpl-sky-blue-dark border-jpl-sky-blue-dark to-jpl-sky-blue-w50;

        @include hover {
          @apply text-white border-jpl-sky-blue;
        }
      }

      &.-dark {
        @include hover {
          @apply text-gray-dark;
        }
      }
    }

    .ThemeLight,
    .ThemeDark,
    &.ThemeLight,
    &.ThemeDark {
      .BaseButton {
        &.-primary {
          @apply bg-jpl-sky-blue-dark to-jpl-sky-blue-w50;
        }

        &.-secondary {
          @apply text-jpl-sky-blue-dark border-jpl-sky-blue-dark to-jpl-sky-blue-w50;

          @include hover {
            @apply text-white border-jpl-sky-blue bg-jpl-sky-blue;
          }
        }
      }
    }
  }
}
