/*
|--------------------------------------------------------------------------
| HELVETICA NOW DISPLAY (For Large Headings > 20px)
|--------------------------------------------------------------------------
| Font-Family: 'Helvetica Now Display', sans-serif;
*/

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Regular */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap; /* Regular Italic */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Medium */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display Md It.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap; /* Medium Italic */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; /* Bold */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display Bd It.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap; /* Bold Italic */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display XBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap; /* Extra Bold */
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Display XBd It.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap; /* Extra Bold Italic */
}

/*
|--------------------------------------------------------------------------
| HELVETICA NOW TEXT (For Body Copy 10px - 20px)
|--------------------------------------------------------------------------
| Font-Family: 'Helvetica Now Text', sans-serif;
*/
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Text.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Regular */
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Text It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap; /* Regular Italic */
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Text Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Medium */
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Text Md It.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap; /* Medium Italic */
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Text Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; /* Bold */
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Text Bd It.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap; /* Bold Italic */
}

/*
|-----------------------------------------------------------------------
| HELVETICA NOW MICRO (For Captions and Small Text < 10px)
|--------------------------------------------------------------------------
| Font-Family: 'Helvetica Now Micro', sans-serif;
*/
@font-face {
  font-family: 'Helvetica Now Micro';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Micro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Regular */
}
@font-face {
  font-family: 'Helvetica Now Micro';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Micro It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap; /* Regular Italic */
}
@font-face {
  font-family: 'Helvetica Now Micro';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Micro Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Medium */
}
@font-face {
  font-family: 'Helvetica Now Micro';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Micro Md It.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap; /* Medium Italic */
}
@font-face {
  font-family: 'Helvetica Now Micro';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Micro Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; /* Bold */
}
@font-face {
  font-family: 'Helvetica Now Micro';
  src: url('../fonts/helvetica-now/Monotype - Helvetica Now Micro Bd It.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap; /* Bold Italic */
}
