// additional grid utilities
@layer base {
  .BaseGrid {
    @apply grid grid-cols-12 gap-6;
  }

  .MixedBleedGrid {
    @screen sm {
      grid-template-columns: [bleed-start] 1fr [container-start] 53.33px [indent-col-2] 53.33px [indent-col-3] 533.33px [container-end] 1fr [bleed-end];
      @apply grid gap-0;
    }

    @screen md {
      grid-template-columns: [bleed-start] 1fr [container-start] 64px [indent-col-2] 64px [indent-col-3] 640px [container-end] 1fr [bleed-end];
      @apply grid;
    }

    @screen lg {
      grid-template-columns: [bleed-start] 1fr [container-start] 85.33px [indent-col-2] 85.33px [indent-col-3] 853.33px [container-end] 1fr [bleed-end];
      @apply grid;
    }

    @screen xl {
      grid-template-columns: [bleed-start] 1fr [container-start] 108px [indent-col-2] 108px [indent-col-3] 1088px [container-end] 1fr [bleed-end];
      @apply grid;
    }

    @screen 2xl {
      grid-template-columns: [bleed-start] 1fr [container-start] 110px [indent-col-2] 110px [indent-col-3] 1100px [container-end] 1fr [bleed-end];
      @apply grid;
    }

    .col-start-bleed {
      grid-column-start: bleed-start;
    }

    .col-end-container-start {
      grid-column-end: container-start;
    }

    .col-start-container {
      grid-column-start: container-start;
    }

    .col-start-indent-col-2 {
      grid-column-start: indent-col-2;
    }

    .col-start-indent-col-3 {
      grid-column-start: indent-col-3;
    }

    .col-end-container {
      grid-column-end: container-end;
    }

    .col-start-container-end {
      grid-column-start: container-end;
    }

    .col-end-bleed {
      grid-column-end: bleed-end;
    }
  }

  // --------------------------------------
  // vertical spacing for navigation offset
  // --------------------------------------

  // applied globally via /layouts/default.vue
  .nav-offset {
    @apply pt-18; // height of mobile header

    @screen lg {
      @apply pt-0;
    }
  }

  // for use on pages with flush-top hero sections
  .-nav-offset {
    @screen lg {
      @apply -mt-29; // just a little more than -28 to get rid of the barely visible white line
    }
  }
  .ThemeEdu {
    // applied globally via /layouts/default.vue
    .nav-offset {
      @apply pt-18; // height of mobile header

      @screen lg {
        @apply pt-0;
      }
    }

    // for use on pages with flush-top hero sections
    .-nav-offset {
      @screen lg {
        @apply -mt-1; // get rid of the barely visible white line
      }
    }
  }
}
