// typography styles
html {
  @apply font-primary;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

/* stylelint-disable declaration-empty-line-before */

.text-h1-alt {
  @apply font-bold text-8xl tracking-tighter;
  line-height: 3.25rem; // 52px
  @screen md {
    @apply text-9xl tracking-tightest;
    line-height: 4rem; // 64px
  }
  @screen lg {
    @apply text-10xl tracking-tightest;
    line-height: 5rem; // 80px
  }
  @screen xl {
    @apply text-11xl tracking-tightest;
    line-height: 7rem; // 112px
  }
}

h1,
.text-h1 {
  @apply font-bold text-7xl tracking-tighter;
  line-height: 3rem; // 48px
  @screen md {
    @apply text-8xl;
    line-height: 3.25rem; // 52px
    letter-spacing: -1.5px;
  }
  @screen lg {
    @apply text-9xl;
    line-height: 4rem; // 64px
    letter-spacing: -1.5px;
  }
  @screen xl {
    @apply text-10xl;
    line-height: 5rem; // 80px
    letter-spacing: -1.5px;
  }
}

h2,
.text-h2 {
  @apply font-medium text-5xl tracking-tight;
  line-height: 2rem; // 32px
  @screen md {
    @apply text-7xl tracking-tighter;
    line-height: 3rem; // 48px
  }
  @screen lg {
    @apply text-8xl tracking-tighter;
    line-height: 3.25rem; // 52px
  }
  @screen xl {
    @apply text-9xl tracking-tighter;
    line-height: 4rem; // 64px
  }
}

h3,
.text-h3 {
  @apply font-medium text-4xl  tracking-tight;
  line-height: 1.875rem; // 30px
  @screen md {
    @apply text-5xl tracking-tighter;
    line-height: 2rem; // 32px
  }
  @screen lg {
    @apply text-6xl tracking-tighter;
    line-height: 2.5rem; // 40px
  }
  @screen xl {
    @apply text-7xl tracking-tighter;
    line-height: 3rem; // 48px
  }
}

h4,
.text-h4 {
  @apply font-semibold text-3xl;
  line-height: 1.75rem; // 28px
  @screen md {
    @apply text-4xl leading-tight;
  }
  @screen lg {
    @apply text-5xl leading-tight;
  }
  @screen xl {
    @apply text-6xl leading-tight;
  }
}

h5,
.text-h5 {
  @apply font-semibold text-xl;
  line-height: 1.625rem; // 26px
  @screen md {
    @apply text-2xl;
    line-height: 2rem; // 32px
  }
  @screen lg {
    @apply text-3xl;
    line-height: 2rem; // 32px
  }
  @screen xl {
    @apply text-3xl;
    line-height: 2rem; // 32px
  }
}

.text-subtitle {
  @apply font-secondary uppercase text-base leading-tight tracking-wider;
}
.text-subtitle-sm {
  @apply font-secondary uppercase text-sm leading-tight tracking-wider;
}

.text-body-lg {
  @apply text-lg;
  line-height: 1.875rem; // 30px
  @screen sm {
    @apply text-2xl;
    line-height: 2.125rem; // 34px
  }
}

.text-body-md {
  @apply text-base leading-relaxed;
  @screen sm {
    @apply text-lg;
    line-height: 1.875rem; // 30px
  }
}

.text-body-sm {
  @apply text-sm;
  line-height: 1.25rem; // 20px
  @screen sm {
    @apply text-base leading-normal;
  }
}

.text-body-xs {
  @apply text-sm;
  line-height: 1.25rem; // 20px
}

// for stats areas (i.e. missions and robotics)
.text-stats-xl {
  @apply font-extrabold;

  font-size: 2.125rem; // 34px

  @screen lg {
    font-size: 2.4rem;
  }
  @screen xl {
    font-size: 2.75rem; // 44px
  }
}

.text-stats-lg {
  @apply font-extrabold;

  font-size: 2.125rem; // 34px

  @screen lg {
    font-size: 2.125rem; // 34px
  }
  @screen xl {
    font-size: 2.25rem; // 36px
  }
}

@responsive {
  @variants hover {
    .text-theme-red {
      @apply text-jpl-red;
      .ThemeLight & {
        @apply text-jpl-red;
      }
      .ThemeDark & {
        @apply text-jpl-red-light;
      }
    }
    .text-theme-red-hover {
      @apply text-jpl-red-dark;
      .ThemeLight & {
        @apply text-jpl-red-dark;
      }
      .ThemeDark & {
        @apply text-jpl-red;
      }
    }
  }
}

// text readability class
// use this in areas where text is overlaying an image
// managed separately for the navigation since we can't @apply these classes there
@responsive {
  .text-contrast {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  .text-contrast-none {
    text-shadow: none;
  }
}
