// tailwind --------------------
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// vendors / node_modules
@import 'vendors';

// main elements
@import 'forms';
@import 'hover';
@import 'fonts';
@import 'aspect-ratios';
@import 'grid';
@import 'typography';
@import 'polyfills';
@import 'animations';

// components
@import 'components';

// themes
@import 'themes';
